APP_NAME="SMTTC Institute"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Kolkata
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=smttc_db
DB_USERNAME=dbuser
DB_PASSWORD=dbpassword

SESSION_DRIVER=file
FILESYSTEM_DISK=public
